.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  background-color: var(--white);
  border: 2px solid var(--dark);
  margin: 10vh;
  border-radius: 5px;
  flex-direction: column;
  width: 70%;
}

.task-form label {
  font-size: 5vh;
}

.task-form input {
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  margin: 1vh;
}
