@import '../../App.scss';

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
  background-color: #fffffff1;
  border: 2px solid $yellow-strong;
  margin: 10vh;
  border-radius: 15px;
  flex-direction: column;
}

.task-form label {
  font-size: 2vh;
}

.task-form input {
  width: 20vh;
  height: 2vh;
  border-radius: 15px;
  margin: 1vh;
}

.task-form button {
  width: 10vh;
  height: 3vh;
  border-radius: 15px;
  background-color: $yellow-strong;
}