.base-timer {
  position: relative;
  width: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
  border-radius: 150px;
}

.bg-green {
  background-color: var(--green-light);
}

.bg-red {
  background-color: var(--red-light);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: var(--dark);
}

.base-timer__path-remaining.orange {
  color: var(--grey);
}

.base-timer__path-remaining.red {
  color: var(--white);
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.base-timer__label span {
  margin: 0;
  font-size: 8vh;
  font-weight: bolder;
}

.timer-button__container {
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.timer-button {
  cursor: pointer;
  margin: 1vh;
  width: 8vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vh;
}

.timer-button img {
  width: 4vh;
  height: 4vh;
}