$red-strong: #EE6055;
$red-light: #FF9B85;
$green-strong: #60D394;
$green-light: #AAF683;
$yellow-light: #FFE6AB;
$yellow-strong: #FFD97D;


.App {
  text-align: center;
  background-color: $yellow-light;
  min-height: 100vh;
}

/* .tasks {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.task-item {
  width: 100%;
  height: 90vh;
}
 */

.form-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}